<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="PowerCruv">
	<resultMap id="PowerCruvResult" type="org.pssframework.model.statistics.PowerCruv">
	</resultMap>

	<sql id="PowerCruvColumns"><![CDATA[m.GP_ID gpId,d.DATA_TIME dataTime,d.ASSET_NO assetNo,
	ACT_POWER*d.TOTAL_TIMES actPower,REACT_POWER*d.TOTAL_TIMES reactPower,
	ACT_POWER_A*d.TOTAL_TIMES actPowerA,ACT_POWER_B*d.TOTAL_TIMES actPowerB,ACT_POWER_C*d.TOTAL_TIMES actPowerC,
	REACT_POWER_A*d.TOTAL_TIMES reactPowerA,REACT_POWER_B*d.TOTAL_TIMES reactPowerB,REACT_POWER_C*d.TOTAL_TIMES reactPowerC,
	d.TOTAL_TIMES totalTimes, m.CT_TIMES ctTimes, m.PT_TIMES ptTimes, m.TG_NO tgNo, m.TG_NAME tgName, m.ORG_ID orgId, m.ORG_NO orgNo, m.ORG_NAME orgName]]></sql>
	<sql id="PowerCruvDynamicWhere">
		<choose>
			<when test="orgId != null and orgId != 0">and exists (select 1 from o_org s,o_org p where p.org_Id = #{orgId} and s.org_no like p.org_no||'%' and s.org_id = m.org_id )</when>
		</choose>
		<choose>
			<when test="tgId != null and tgId != -1">and object_Id = #{tgId} and gp_type='2'</when>
		</choose>
		<choose>
			<when test="ddate != null">and d.ddate = to_char(to_date(#{ddate},'yyyy-mm-dd'),'yyyymmdd')</when>
			<otherwise>and d.ddate is null</otherwise>
		</choose>
	</sql>
	<select id="count" resultType="long">
		<![CDATA[select count(1) from D_POWER_CRUV_C d, v_meter m where m.gp_id= d.gp_id]]>
		<include refid="PowerCruvDynamicWhere" />
	</select>
	<select id="pageSelect" resultMap="PowerCruvResult">
		select
		<include refid="PowerCruvColumns" />
		<![CDATA[from D_POWER_CRUV_C d, v_meter m where m.gp_id= d.gp_id ]]>
		<include refid="PowerCruvDynamicWhere" />
		<if test="sortColumns != null and sortColumns.length() != 0">order by ${sortColumns}</if>
	</select>
</mapper>